<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bjtu.group6.droidcorder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/NoTitle" >
        <activity
            android:name="bjtu.group6.droidcorder.RecorderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="bjtu.group6.droidcorder.AudioListActivity"
            android:label="@string/title_activity_audio_list" >
        </activity>
        <activity
            android:name="bjtu.group6.droidcorder.ConfigActivity"
            android:label="@string/title_activity_config" >
        </activity>
        <activity
            android:name="bjtu.group6.droidcorder.FormatDetailActivity"
            android:label="@string/title_activity_format_detail" >
        </activity>
    </application>

</manifest>
